<!-- <img
  *ngIf="loading"
  src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" class=""
/> -->
<section class="todoapp" *ngIf="visible">
  <header class="header">
    <h1 class="todos">todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      [(ngModel)]="todoTitle"
      [ngModelOptions]="{ standalone: true }"
      (keyup.enter)="addTodo()"
    />
  </header>
  <section class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      (click)="markAllasComplete()"
    />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let todo of todosFiltered()">
        <div class="view">
          <input
            class="toggle check-pos"
            type="checkbox"
            [(ngModel)]="todo.isCompleted"
          />
          <label
            class="caption"
            *ngIf="!todo.editing; else editingTodo"
            [ngClass]="{ completed: todo.isCompleted }"
            (dblclick)="editTodo(todo)"
            >{{ todo.caption }}</label
          ><ng-template #editingTodo>
            <input
              type="text"
              [(ngModel)]="todo.caption"
              (keyup.enter)="doneEdit(todo)"
              autofocus
            /> </ng-template
          ><button class="destroy" (click)="deleteTodo(todo._id)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"
      ><strong>{{ remaining() }}</strong> items left</span
    >
    <ul class="filters">
      <li>
        <a
          class
          [ngClass]="{ active: filter == 'all' }"
          (click)="filter = 'all'"
          >All</a
        >
      </li>
      <li>
        <a
          class
          [ngClass]="{ active: filter == 'active' }"
          (click)="filter = 'active'"
          >Active</a
        >
      </li>
      <li>
        <a
          class
          [ngClass]="{ active: filter == 'completed' }"
          (click)="filter = 'completed'"
          >Completed</a
        >
      </li>
    </ul>
    <button class="clear-completed" (click)="delteAll()">
      Delete all
    </button>
  </footer>
</section>

<section *ngIf="show">
  <mat-spinner class="spin"></mat-spinner>
</section>
