.completed {
  text-decoration: line-through;
}
.footer {
  height: 37px;
}
.todos {
  margin-top: 30px;
}
.check {
  float: left;
  margin-left: 20px;
  margin-top: 25px;
}

.check-pos {
  position: absolute;
  left: 1px;
}
.loading {
  width: 50px;
}
.spin {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}
